
@{
    ViewData["Title"] = "WMIAdmin";
}

<h1>WMIAdmin</h1>

<input type="button" value="Create" onclick="location.href = '@Url.Action("Create", "WMIAdmin", new {})'" />
@Html.ActionLink("Submit", "Create", "WMIAdmin")